*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#6c4cff;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:1200px;
    height:650px;
    background:#f7f8fc;
    border-radius:20px;
    overflow:hidden;
    display:flex;
}

.left{
    width:50%;
    padding:40px 60px;
    position:relative;
}

.logo h2{
    color:#4c67ff;
}

.logo span{
    color:#39d5ff;
}

.login-box{
    margin-top:100px;
    width:320px;
}

.login-box h4{
    margin-bottom:25px;
    color:#333;
}

.social{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.social span{
    color:#999;
    font-size:14px;
}

.icons{
    display:flex;
    gap:10px;
}

.icons i{
    width:35px;
    height:35px;
    background:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#888;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    background:white;
    border-radius:5px;
    outline:none;
}

.password-box{
    position:relative;
}

.password-box i{
    position:absolute;
    right:15px;
    top:15px;
    color:#999;
}

.forgot{
    display:block;
    margin-bottom:20px;
    color:#bbb;
    text-decoration:none;
    font-size:13px;
}

button{
    background:#6c4cff;
    color:white;
    border:none;
    padding:10px 35px;
    border-radius:25px;
    cursor:pointer;
}

.footer{
    position:absolute;
    bottom:30px;
    left:60px;
    display:flex;
    gap:20px;
    font-size:12px;
    color:#999;
}

.right{
    width:50%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.right img{
    width:450px;
}

.register{
    position:absolute;
    top:30px;
    right:40px;
    background:white;
    color:#777;
    border:1px solid #ddd;
}

.dots{
    position:absolute;
    bottom:25px;
    right:40px;
    display:flex;
    gap:8px;
}

.dots span{
    width:8px;
    height:8px;
    background:#ccc;
    border-radius:50%;
}

.dots .active{
    background:#6c4cff;
}
