*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f7fb;
}

.container{
    display:flex;
    min-height:100vh;
}



.sidebar{
    width:260px;
    background:#1f2336;
    color:white;
    display:flex;
    flex-direction:column;
}

.profile{
    text-align:center;
    padding:40px 20px;
}

.profile-img{
    width:90px;
    height:90px;
    border-radius:50%;
    background:white;
    color:#82e5dc;
    font-size:40px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile h3{
    margin-top:15px;
}

.profile p{
    color:#c3b1b1;
    font-size:14px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:18px 30px;
    cursor:pointer;
}

.sidebar li a{
    display:flex;
    align-items:center;
    gap:10px;
    color:white;
    text-decoration:none;
}

.sidebar li:hover,
.active{
    background:#82e5dc;
}

.logout-btn{
    margin:auto 20px 20px;
    padding:12px;
    border:none;
    border-radius:8px;
}

/* Sidebar */

.sidebar {
    width: 260px;
    background: #1f2336;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0 25px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px 20px;
}

.logo i {
    font-size: 30px;
    color: #82e5dc;
}

.logo h3 {
    font-size: 18px;
    font-weight: 600;
}

.sidebar ul {
    list-style: none;
    padding: 10px 0 20px;
}

.sidebar li {
    padding: 14px 24px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.sidebar li:hover,
.sidebar .active {
    background: #82e5dc;
}

.sidebar li:hover a,
.sidebar .active a {
    color: #1f2336;
}

.sidebar li i {
    width: 18px;
    text-align: center;
}

.sidebar span {
    font-size: 14px;
}

.logout-btn {
    margin: auto 20px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #1f2336;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* Main */

.main{
    flex:1;
    padding:30px;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-right{
    display:flex;
    gap:20px;
    align-items:center;
}

.timer{
    background:white;
    padding:10px 20px;
    border-radius:10px;
    text-align:center;
}

.timer h3{
    color:#82e5dc;
}

.submit-btn{
    background:#82e5dc;
    color:rgb(16, 11, 11);
    border:none;
    padding:14px 25px;
    border-radius:10px;
    cursor:pointer;
}

/* Questions */

.question-card{
    background:white;
    padding:25px;
    border-radius:12px;
    margin-top:25px;
}

.question-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.question-header span{
    background:#eaf1ff;
    color:#82e5dc;
    padding:8px 15px;
    border-radius:6px;
}

.options{
    margin-top:25px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.options label{
    border:1px solid #cbb2b2;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
}

.buttons{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
}

.prev-btn,
.next-btn{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#82e5dc;
    color:rgb(28, 22, 22);
    cursor:pointer;
}

/* Right Panel */

.right-panel{
    width:280px;
    background:#fafafa;
    padding:30px;
}

.status{
    margin-top:20px;
}

.status p{
    margin-bottom:15px;
}

.status span{
    width:15px;
    height:15px;
    display:inline-block;
    border-radius:4px;
    margin-right:10px;
}

.green{
    background:green;
}

.red{
    background:red;
}

.gray{
    background:gray;
}

.palette{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
    margin-top:30px;
}

.palette button{
    height:45px;
    border:none;
    border-radius:8px;
    background:#eee;
}

.answered{
    background:green !important;
    color:white;
}

.not-answer{
    background:red !important;
    color:white;
}

.review-box{
    background:white;
    padding:25px;
    border-radius:12px;
    margin-top:40px;
    text-align:center;
}